<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Catalog</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="/images/logo.png" alt="Logo do Catálogo Musical">
        </a>
        <h1>Catálogo Musical</h1>
    </header>

    <main>
        <section>
            <h2><a href="/discos">Discos</a></h2>
            <ul id="discos-recentes"></ul> 
        </section>

        <section>
            <h2><a href="/artistas">Artistas</a></h2>
            <ul id="artistas-recentes"></ul> 
        </section>

        <section>
            <h2><a href="/generos">Gêneros</a></h2>
            <ul id="generos-recentes"></ul>
        </section>
    </main>

    <script src="/js/index.js"></script>
</body>
</html>
