*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d2a31;
}

/* Navbar */
header {
    width: 100%;
    height: 14%;
    background-color: #2f137a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header a {
    left: 80px;
    position: absolute;
}

header img {
    height: 60px;
}

header h1 {
    margin: 15px;
}

header #back-button {
    position: absolute;
    right: 80px;
    cursor: pointer;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

p, h1, h2, h3, li{
    color: white;
}

#genero-info {
    display: flex;
    align-items: center;
    height: 80px;
    text-align: center;
    background-color: #403761;
    position: relative;
}

.genero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genero-header h2 {
    font-size: 28px;
    margin: 0 30px;
}

.actions a, .actions button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background: #333;
    cursor: pointer;
    margin-left: 5px;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.actions .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.actions .btn.editar {
    background-color: #007BFF;
    bottom: 22px;
    right: 120px;
    position: absolute;
}

.actions .btn.excluir {
    background-color: #FF4136;
    right: 20px;
    bottom: 22px;
    position: absolute;
}

.actions .btn:hover {
    opacity: 0.9;
}

#details {
    display: flex;
    justify-content: space-between;
}

.left-box, .right-box {
    width: 300px;
    min-height: 400px;
    flex: 1;
    background-color: #403761;
    padding: 20px;
}

h3 {
    margin: 0 0 10px;
}

.left-box ul,
.right-box ul {
    list-style: none;
    padding: 2px;
    margin: 0;
}

.left-box ul li,
.right-box ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.left-box ul li:last-child,
.right-box ul li:last-child {
    border-bottom: none;
}